<a href="/dashboard">&larr; Wróć</a>
<div class="admin-title">
  <h2>Dodaj nowy post</h2>
</div>

<form action="/add-post" method="POST">

  <label for="title"><b>Tytuł</b></label>
  <input type="text" placeholder="Tytuł" name="title">

  <label for="body"><b>Tekst</b></label>
  <textarea name="body" cols="50" rows="10"></textarea>

  <input type="submit" value="Dodaj" class="btn">

</form>