<h3>Logowanie</h3>

<form action ="/admin" method="POST">

    <label for="userName"><b>Nazwa Użytkownika</b></label>
    <input type="text" placeholder="Wprowadź nazwę uzytkownika" name="userName">

    <label for="password"><b>Hasło</b></label>
    <input type="password" placeholder="Wprowadź hasło" name="password">

    <input type="submit" value="Zaloguj się" class="btn">

</form>

<form action ="/register" method="POST">

    <label for="userName"><b>Nazwa Użytkownika</b></label>
    <input type="text" placeholder="Wprowadź nową nazwę uzytkownika" name="userName">

    <label for="password"><b>Hasło</b></label>
    <input type="password" placeholder="Wprowadź hasło" name="password">

    <input type="submit" value="Zarejestruj się" class="btn">

</form>