<header class="header">
    <a href="/" class="header__logo">LOGO</a>

    <nav>
        <ul>
            <li>
                <a href="/">Strona Główna</a>
            </li>
            <li>
                <a href="/about">O Blogu</a>
            </li>
            <li>
                <a href="/contact">Kontakt</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            Szukaj
        </button>

    </div>

</header>