<header class="header">
    <a href="/admin" class="header__logo">ADMIN</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Strona Główna</a>
            </li>
            <li>
                <a href="/about">O Blogu</a>
            </li>
            <li>
                <a href="/contact">Kontakt</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button>
            Wyloguj
        </button>

    </div>

</header>