<div class="author">
    <h1 class="author__heading">Witam mam na imię Igancy</h1>
    <p class="author__body">Student IT</p>
</div>

<img src="/img/flower.jpg" alt="zdjęcie" class="obraz" width="400" height="240">

<section class="articles">
    <h2 class="articles__heading">Posty</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Tytuł</span>
                <span class="article-list__date">Data</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; Wyświetl Starsze Posty</a>

</section>